/* body{
    width:80%;
    margin:auto;
} */
header h1{
    color:#0088ff;
    font-weight: bold;
    font-size:3em;
    text-align: left;
    padding-left:1em;
    margin-top:0;
   
}
header{
    background-color: black;

}